* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(235, 235, 235);
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
  background-color: rgb(31, 31, 31);
  min-height: 600px;
}

.btn {
  padding: 8px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bolder;
}

.cancel {
  background-color: red;
  border-color: red;
}

.cancel:hover {
  background-color: rgb(255, 52, 52);
  border-color: rgb(255, 52, 52);
}

.save {
  background-color: rgb(16, 163, 16);
  border-color: rgb(16, 163, 16);
}

.save:hover {
  background-color: rgb(76, 202, 76);
  border-color: rgb(76, 202, 76);
}

.btn:hover {
  color: rgb(255, 255, 255);
  box-shadow: 0 2px 8px rgba(192, 192, 192, 0.788);
}

a {
  text-decoration: none;
}

.close {
  padding: 5px 7px;
  font-weight: bolder;
  border-radius: 3px;
}

.close:hover {
  cursor: pointer;
  background-color: red;
}

.edit {
  font-weight: bolder;
  font-size: 12px;
  margin-right: 10px;
  padding: 7px;
  border-radius: 3px;
}

.edit:hover {
  cursor: pointer;
  background-color: lightslategray;
}

.null-text {
  color: rgb(155, 155, 155);
  font-style: italic;
}

/********************************************/
/*************** NAVIGATION *****************/
/********************************************/

.logo {
  z-index: 1;
}

.logo a {
  text-decoration: none;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  padding: 20px;
  width: 100%;
  background-color: rgb(74, 116, 230);
  z-index: 1;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin-left: 15px;
}

.page-link {
  padding: 5px;
  border-radius: 5px;
}

.page-link:hover {
  background-color: rgb(98, 137, 245);
}

.burger {
  display: none;
}

.burger div {
  width: 20px;
  height: 3px;
  background-color: rgb(235, 235, 235);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
  .nav-links {
    position: absolute;
    right: 0px;
    top: 0px;
    padding-top: 60px;
    height: 34.5vh;
    width: 100%;
    background-color: rgb(74, 116, 230);
    color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-200%);
  }

  .nav-links a {
    color: rgb(235, 235, 235);
  }

  .nav-links li {
    opacity: 0;
    padding: 18px;
  }

  .burger {
    display: block;
    right: 0;
    z-index: 1;
  }
}

.nav-active {
  transform: translateY(0%);
  transition: transform 0.5s ease-in;
}

.nav-inactive {
  transition: transform 0.5s ease-in;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/********************************************/
/****************** HOME ********************/
/********************************************/

.home-container {
  margin: auto;
  height: 55vh;
  width: auto;
  padding-top: 100px;
  background-image: url("/public/admin/bostonskyline.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.greeting {
  margin: auto;
  margin-top: 10vh;
  background-color: rgb(0, 0, 0, 0.7);
  padding: 30px 20px;
  width: 470px;
  text-align: center;
  border-radius: 10px;
}

.home-container h1 {
  font-size: 5em;
  font-weight: bold;
}

.options-container {
  height: 45vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.column {
  flex: 25;
  max-width: 150px;
  margin: 0px 30px 10px 30px;
}

.column div {
  height: 150px;
  width: 150px;
  border-radius: 15px;
  border-width: 20px;
  border-color: rgb(74, 116, 230);
  border-style: solid;
  background-color: cornflowerblue;
  text-align: center;
}

.column div:hover {
  background-color: rgb(74, 116, 230);
  color: rgb(255, 255, 255);
  box-shadow: 0 5px 10px rgba(102, 102, 102, 0.747);
}

.column div p {
  font-weight: bold;
  padding: 48px 0px;
}

@media (max-width: 900px) {
  .options-container {
    margin: 0px 20%;
  }
}

@media (max-width: 700px) {
  .options-container {
    margin: 0px 10%;
  }
}

@media (max-width: 550px) {
  .options-container {
    margin: 0px 0%;
  }
}

@media (max-width: 450px) {
  .column {
    max-width: 120px;
    margin: 0px 20px 30px 20px;
  }

  .column div {
    background-color: blue;
    height: 120px;
    width: 120px;
    border-radius: 15px;
    text-align: center;
  }

  .column div p {
    padding: 53px 0px;
  }
}

/********************************************/
/*************** PRESENTERS *****************/
/********************************************/
.presenter-nav {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
}

#add-presenter {
  background-color: rgb(16, 163, 16);
  border-color: rgb(16, 163, 16);
  font-size: 15px;
}

#add-presenter:hover {
  background-color: rgb(76, 202, 76);
  border-color: rgb(76, 202, 76);
}

.presenter-container {
  padding-top: 100px;
  margin: 0px 15% 0px 15%;
}

#presenter-list {
  margin: 20px 8%;
}

.presenter-item {
  display: flex;
  padding: 20px 20px;
  margin-bottom: 20px;
  background-color: rgb(56, 56, 56);
}

.presenter-item-info {
  flex-grow: 1;
}

.presenter-item-options {
  display: flex;
  align-items: center;
}

#presenterForm {
  height: 270px;
}

/********************************************/
/****************** ROOMS *******************/
/********************************************/
.rooms-nav {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
}

#add-room {
  background-color: rgb(16, 163, 16);
  border-color: rgb(16, 163, 16);
  font-size: 15px;
}

#add-room:hover {
  background-color: rgb(76, 202, 76);
  border-color: rgb(76, 202, 76);
}

.room-container {
  padding-top: 100px;
  margin: 0px 15% 0px 15%;
}

#room-list {
  margin: 20px 8%;
}

.room-item {
  display: flex;
  padding: 20px 20px;
  margin-bottom: 20px;
  background-color: rgb(56, 56, 56);
}

.room-item-info {
  flex-grow: 1;
}

.room-item-options {
  display: flex;
  align-items: center;
}

/********************************************/
/**************** SESSIONS ******************/
/********************************************/
.session-nav {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
}

#add-session {
  background-color: rgb(16, 163, 16);
  border-color: rgb(16, 163, 16);
  font-size: 15px;
}

#add-session:hover {
  background-color: rgb(76, 202, 76);
  border-color: rgb(76, 202, 76);
}

.session-container {
  padding-top: 100px;
  margin: 0px 15% 0px 15%;
}

#session-list {
  margin: 20px 8%;
}

.session-item {
  display: flex;
  padding: 20px 20px;
  margin-bottom: 20px;
  background-color: rgb(56, 56, 56);
}

.session-item-info {
  flex-grow: 1;
}

.session-item-options {
  display: flex;
  align-items: center;
}

#sessionForm {
  height: 345px;
}

/********************************************/
/****************** COUNT *******************/
/********************************************/
.count-nav {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
}

#add-count {
  background-color: rgb(16, 163, 16);
  border-color: rgb(16, 163, 16);
  font-size: 15px;
}

#add-count:hover {
  background-color: rgb(76, 202, 76);
  border-color: rgb(76, 202, 76);
}

.count-container {
  padding-top: 100px;
  margin: 0px 15% 0px 15%;
}

#count-list {
  margin: 20px 8%;
}

.count-item {
  display: flex;
  padding: 20px 20px;
  margin-bottom: 20px;
  background-color: rgb(56, 56, 56);
}

.count-item-info {
  flex-grow: 1;
}

.count-item-options {
  display: flex;
  align-items: center;
}

#countForm {
  height: 310px;
}

/********************************************/
/****************** FORM ********************/
/********************************************/

.form {
  display: none;
  position: fixed;
  padding: 20px;
  width: 500px;
  height: 230px;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -250px;
  background-color: rgb(44, 43, 43);
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(20, 20, 20, 0.788);
}

.form-container {
  padding: 20px 30px 50px 10px;
}

.form-container div {
  padding: 10px;
}

.form-input select {
  float: right;
  margin-right: 10px;
  color: black;
  border-radius: none;
  width: 145px;
  height: 23px;
}

.form-input select option {
  color: black;
}

.form-input input {
  width: 145px;
  padding: 4px;
  float: right;
  margin-right: 10px;
  color: black;
  border-radius: 4px;
}

.time-box {
  width: 145px;
  height: 23px;
}

.form-submit {
  margin-left: 130px;
}
.form-submit button {
  margin-top: 25px;
  width: 75px;
  margin-right: 10px;
}
